<div id="rightside">
    <div class="login-card">
        <h1>Login Form</h1>
        <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <label for="email">Email</label>
            <input [class.input-error]="formService.isControlInvalid(form, 'email')" type="email" id="email" formControlName="email" required />
            @if (formService.isControlInvalid(form, 'email')) {
            <p class="error">{{formService.getEmailErrorMessage(form)}}</p>
            }

            <label for="password">Password</label>
            <input [class.input-error]="formService.isControlInvalid(form, 'password')" type="password" id="password" formControlName="password" required />
            @if (formService.isControlInvalid(form, 'password')) {
            <p class="error">{{formService.getPasswordErrorMessage(form, true)}}</p>
            }

            <button type="submit">Login</button>
        </form>
    </div>
</div>