<div id="rightside">
    <div class="edit-profile-card">
        <h1>Edit Profile</h1>
        @if(errorToShow != null){
            <h1>{{errorToShow.message}}</h1>
        }
        <form class="edit-profile-form" [formGroup]="form" (ngSubmit)="onSubmit()">
            <label for="firstName">First name</label>
            <input [class.input-error]="formService.isControlInvalid(form, 'firstName')" type="text" id="firstName"
                formControlName="firstName" value="Иван" required />
            @if (formService.isControlInvalid(form, 'firstName')) {
            <p class="error">{{formService.getFirstNameErrorMessage(form)}}</p>
            }

            <label for="lastName">Last Name</label>
            <input [class.input-error]="formService.isControlInvalid(form, 'lastName')" type="text" id="lastName"
                formControlName="lastName" value="Иванов" required />
            @if (formService.isControlInvalid(form, 'lastName')) {
            <p class="error">{{formService.getLastNameErrorMessage(form)}}</p>
            }

            <label for="email">Email</label>
            <input [class.input-error]="formService.isControlInvalid(form, 'email')" type="email" id="email"
                formControlName="email" value="ivan@example.com" required />
            @if (formService.isControlInvalid(form, 'email')) {
            <p class="error">{{formService.getEmailErrorMessage(form)}}</p>
            }

            <div class="edit-profile-form" formGroupName="passwords">
                <label for="password">New Password</label>
                <input [class.input-error]="formService.isNestedControlInvalid(form, 'passwords', 'password')"
                    type="password" id="password" formControlName="password" />
                @if (formService.isNestedControlInvalid(form, 'passwords', 'password')) {
                <p class="error">{{formService.getPasswordErrorMessage(form, true)}}</p>
                }

                <label for="repass">Repeat New Password</label>
                <input [class.input-error]="formService.isNestedControlInvalid(form, 'passwords', 'repass')"
                    type="password" id="repass" formControlName="repass" />
                @if (formService.isNestedControlInvalid(form, 'passwords', 'repass')) {
                <p class="error">{{formService.getRePasswordErrorMessage(form)}}</p>
                }
            </div>

            <label for="pictureFile">Profile Picture</label>
            
            @if(form.get('picture')?.value !== ''){
            <img [src]="form.get('picture')?.value" alt="Profile preview" class="preview-img" />
            <button type="button" (click)="removePicture()">Remove Picture</button>
            }@else {
                <input type="file" id="pictureFile" (change)="onFileSelected($event)" accept="image/*" />
            }
            

            <!-- Скрит контрол, който пази URL от Cloudinary -->
            <input type="hidden" formControlName="picture" />

            <button type="submit">Save The Changes</button>
            <button class="back-button" (click)="goBack(); $event.preventDefault()">CANCEL</button>
        </form>
    </div>
</div>