#rightside {
    margin-top: 3%;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.register-card {
    background-color: #252525;
    border-radius: 8px;
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 255, 204, 0.1);
    display: flex;
    flex-direction: column;
}

.register-card h1 {
    text-align: center;
    color: #00ffcc;
    margin-bottom: 2rem;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.register-form label {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-weight: bold;
    color: #00ffcc;
}

.register-form input {
    padding: 0.7rem;
    border: none;
    border-radius: 4px;
    background-color: #1e1e1e;
    color: #fff;
    outline: none;
    font-size: 1rem;
    transition: background-color 0.2s ease;
}

.register-form input:focus {
    background-color: #2a2a2a;
}

.register-form button {
    margin-top: 2rem;
    padding: 0.75rem;
    background-color: #00ffcc;
    color: #000;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.back-button {
   color: red !important;
}

.register-form button:hover {
    background-color: #00e6b8;
}

.register-form button:disabled {
        background-color: #6c757d;
        cursor: not-allowed;
        transform: none;
    }

.input-error {
    border-left-color: red !important;
    border-color: red;
}

.error {
    text-align: left;
    border-radius: 0.5em;
    color: red;
    padding-top: 0;
    font-weight: bold;
    font-size: 0.875rem;
    margin-top: 0.25rem;
}

.text-center {
    text-align: center;
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
}

.register-card > .h1errorToShow {
    color: palevioletred;
}