<div id="rightside">
    <div class="create-game-card">
        <h1>Create New Game</h1>
        <form [formGroup]="form" class="create-game-form" (ngSubmit)="onSubmit()">
            <label for="title">Name</label>
            <input [class.input-error]="formService.isControlInvalid(form, 'title')" type="text" id="title" formControlName="title" />
            @if (formService.isControlInvalid(form, 'title')) {
            <p class="error">{{formService.getTitleErrorMessage(form)}}</p>
            }

            <label for="manufacturer">Manufacturer</label>
            <input [class.input-error]="formService.isControlInvalid(form, 'manufacturer')" type="text" id="manufacturer" formControlName="manufacturer" />
            @if (formService.isControlInvalid(form, 'manufacturer')) {
            <p class="error">{{formService.getManufacturerErrorMessage(form)}}</p>
            }

            <label for="genre">Genre</label>
            <input [class.input-error]="formService.isControlInvalid(form, 'genre')" type="text" id="genre" formControlName="genre" />
            @if (formService.isControlInvalid(form, 'genre')) {
            <p class="error">{{formService.getGenreErrorMessage(form)}}</p>
            }

            <label for="instructions">Instructions</label>
            <textarea [class.input-error]="formService.isControlInvalid(form, 'instructions')" id="instructions" formControlName="instructions" rows="4"></textarea>
            @if (formService.isControlInvalid(form, 'instructions')) {
            <p class="error">{{formService.getInstructionsErrorMessage(form)}}</p>
            }

            <label for="description">Description</label>
            <textarea [class.input-error]="formService.isControlInvalid(form, 'description')" id="description" formControlName="description" rows="4"></textarea>
            @if (formService.isControlInvalid(form, 'description')) {
            <p class="error">{{formService.getDescriptionErrorMessage(form)}}</p>
            }

            <label for="imageUrl">Image URL</label>
            <input [class.input-error]="formService.isControlInvalid(form, 'imageUrl')" type="url" id="imageUrl" formControlName="imageUrl" />
            @if (formService.isControlInvalid(form, 'imageUrl')) {
            <p class="error">{{formService.getImageUrlErrorMessage(form)}}</p>
            }

            <label for="gameUrl">Game URL</label>
            <input [class.input-error]="formService.isControlInvalid(form, 'gameUrl')" type="url" id="gameUrl" formControlName="gameUrl" />
            @if (formService.isControlInvalid(form, 'gameUrl')) {
            <p class="error">{{formService.getGameUrlErrorMessage(form)}}</p>
            }

            <button type="submit">Create</button>
            <button class="back-button" (click)="goBack(); $event.preventDefault()">Cancel</button>
        </form>
    </div>
</div>